#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 1em;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#contato > iframe{
    width: 100%;
    padding: 15px;
}

#contato > h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

#contato > p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

