
#home {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}


.img-home {
  width: 200px;
  transition: transform 0.5s;
  animation: bounce 5s infinite ;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* Animação de pulo */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}



#home > p {
    width: 100%;
    margin-top: 100px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

