#catalogo-servicos {
    background-image: url('/img/fundo_barbearia.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#catalogo-servicos > h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
    color: white;
}

.servicos-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 20px;
    padding: 20px;
}

.servico-card {
    background-color: #225fe4e1;
    border-radius: 15px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
}

.servico-card:hover {
    transform: scale(1.05);
}

.servico-card img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.servico-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
}

.servico-card p {
    font-size: 1em;
    margin: 10px 0;
    color: #f0f0f0;
}

.servico-card span {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    color: #ffdf00;
}



